.title {
    margin-bottom: 0.75rem;
}

.extraInfo {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.extraInfo::before {
    content: "";
    border-left: 1px solid #fff;
    padding-left: 0.75rem;
}

.expressive {
    color: #ff9800;
}
